#chatWrapper {
  height: 100vh;
  width: calc(100vw - 400px);
}

#chatDisplay {
  height: calc(100vh - 65px);
  width: 100%;
}

#chatInput {
  width: 100%;
}

#chatInput > input {
  height: 70px;
  width: calc(100% - 190px);
  font-size: 25px;
  padding-left: 20px;
}

#chatInput > button {
  height: 70px;
  width: 165px;
  border: none;
  background: #2980b9;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

#messagesList {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  height: calc(100% - 65px);
  overflow-y: auto;
}

#messagesList > li {
  height: auto;
  min-width: 20%;
  max-width: 60%;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  padding-right: 60px;
}

.messageLeft {
  align-self: flex-start;
  background: #afafaf;
  color: black;
}

.messageRight {
  align-self: flex-end;
  background: #2980b9;
  color: white;
}

#messagesList > li > header {
  font-weight: bold;
}

#messagesList > li > footer {
  font-weight: bold;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-130%, -110%);
}
