#loginWrapper {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#loginWrapper > form > input {
  height: 40px;
  width: 100%;
  padding-left: 15px;
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 15px 0px 20px;
}

#loginWrapper > form > button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
